/* Fuentes
font-family: 'Gochi Hand', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/

body {
  font-family: 'Open Sans', sans-serif;
}

.cursiveFont {
  font-family: 'Gochi Hand', cursive;
}

.titleFont {
  font-family: 'Raleway', sans-serif;
}
