/* Fuentes
Logo
font-family: 'Gochi Hand', cursive;
font-family: 'Oswald', sans-serif;
Pagina en general
font-family: 'Open Sans', sans-serif;
Titulos
font-family: 'Raleway', sans-serif;
*/

/* Colores

*/

.reboot {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #697477;
}

.fontLogo {
  font-family: 'Oswald', sans-serif;
  letter-spacing: -1px;
  word-spacing: -1px;
}

.fontTitle {
  font-family: 'Raleway', sans-serif;
}

.bgPrimary {
  background-color: rgb(252, 252, 252);
}
/*
.colorLighterBlue {
  color: #b7defa;
}

.colorBlue {
  color: #1192ee;
}

.colorLightYellow {
  color: #ffdb9e;
}

.colorGray {
  color: #697477;
}

.colorLightGrey {
  color: #dcdcdc;
}

.bgDarkBlue {
  background-color: #052c48;
}

.bgMediumBlue {
  background-color: #0c66a6;
}

.bgBlue {
  background-color: #1192ee;
}

.bgLightGrey {
  background-color: #dcdcdc;
}

.bgYellow {
  background-color: rgb(217, 255, 51);
}

.btn-yellow {
  background-color: rgb(217, 255, 51);
} */
